* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 65vh;
    /* border: 1px solid red; */
}

.header .banner {
    position: absolute;
    top: 0;
    background-image: url('./banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.header .image {
    background-image: url('./me.jpg');
    background-size: cover;
    background-position: center center;
    bottom: 0;
    width: 15em;
    height: 15em;
    border-radius: calc(15em / 2);
    box-shadow: inset 0 0px 5px 1px #ccc,
                inset 0px 0px 15px 0 #000;
    z-index: 2;
}

header.banner img {
    min-width: 100%;
    max-height: 35vh;
}

.main,
.skills-section {
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
    /* border: 1px solid #000; */
}

.main .name {
    text-align: center;
}

.main .name h1 {
    font-size: 2rem;
}

.contact {
    margin-top: 15px;
}

.contact .to-contact {
    margin-left: 15px;
}

.contact .to-contact:first-child {
    margin-left: 0px;
}

.to-contact svg:hover {
    animation: move 500ms;
    animation-fill-mode: forwards;
}

.contact svg {
    width: 36px;
    height: 36px;
}

.about-me {
    display: flex;
    margin-top: 1.4em;
}

.about-me h2 {
    font-size: 1.5rem;
}

.about-me {
    font-size: 1.1rem;
}

.about-me > div {
    flex: 1;
}

.skill-categories {
    display: flex;
}

.skill-category {
    flex: 1;
    margin-left: 40px;
}

.skill-category:first-child {
    margin-left: 0px;
}

.skill-categories .skill-category-name {
    font-size: 1.1rem;
    font-weight: 800;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    transform: translateX(-5px);
}

.skill-list .skill-item {
    font-size: .8rem;
    background-color: #444;
    color: #fff;
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    white-space: nowrap;
    margin: 5px;
}

.skills-section .skill-content {
    margin-top: 25px;
}

.skills-section .squares {
    display: flex;
}

.skills-section .squares .skill-square {
    /* display: flex; */
    position: relative;
    border: 1px solid #000;
    margin: 60px;
    /* margin-left: 60px;; */
}

.skills-section .squares .skill-square svg {
    position: absolute;
    /* border: 1px solid red; */
    width: 120px;
    height: 120px;
    transform: translateX(-60px) translateY(-60px);
}

@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
    }

    .main,
    .skills-section {
        margin: 25px 25px;
    }
}

@keyframes move {
    0% {
        transform: scale(.9) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotateZ(360deg);
        opacity: .8;
    }
}