@media (max-width: 768px) {
    .about-me {
        flex-direction: column;

        .skills {
            margin-top: 25px;
        }
    }

    .main,
    .skills-section,
    .experiences-section {
        margin: 25px 25px;
    }
}

@media (max-width: 425px) {
    .line {
        flex-direction: column;
    }

    .experiences-items {
        .experience-item {
            flex-direction: column;
        }
    }
}